:root {
    --primary-color: #030616;
    --link-color: #4E80EE;
    --border-color: #D2D5DA;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.6;
    color: var(--primary-color);
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 2.25rem;
    color: var(--primary-color); 
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5rem;
    color: var(--primary-color); 
    margin-bottom: 20px;
}

.p1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 1.6rem; 
    color: var(--primary-color);
    margin-bottom: 20px;
}

ol, ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.p2, ol, li, a {
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 16px; 
    line-height: 1.6rem;
    color: var(--primary-color); 
}

a {
    color: var(--link-color); 
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}


hr {
    border-top: 1px solid var(--border-color);
    margin: 40px 0;
}
